<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

    <properties>
        <title>Ferris Mouser</title>
        <author email="mjremijan@yahoo.com">Michael Remijan</author>
    </properties>

    <!-- Optional HEAD element, which is copied as is into the XHTML <head> element
<head>
     <meta ... />
</head>
    -->

    <body>
        <section name="">
            <div id="twStart">
                <h2>Start Using Mouser</h2>
                <span class="nav-header">Move the mouse</span>
                <a href="${project.scm.url}/releases/download/${project.build.finalName}/${project.build.finalName}-${ferrisWindowsAssemblyId}.zip">
                    <img src="images/windows-icon.png" />Download for Windows
                </a>
		&nbsp; &nbsp; &nbsp; &nbsp;
                <a href="${project.scm.url}">
                    <img src="images/octocat-icon.png" />Visit on GitHub
                </a>
            </div>
        </section>
		
        <section name="About">
            <p>
                The purpose of Mouser is to move the mouse automatically 
                every minute.  It only moves the mouse by 2 pixels so you'll 
                never notice it.
            </p>
            <p> 
                Why on the world would you ever need something like this?
                Its primary purpose is to keep the screensaver from starting.
                Sometimes, you are unable to change your screensaver/locking
                preferences and you would like to prevent them from taking effect.
                Mouser does this for you. 
            </p>
        </section>
    </body>
</document>